@charset "UTF-8";
.embed-container {
  position: relative;
  padding-bottom: 15px;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.body-link-vdo {
  padding-left: 0px;
  padding-right: 0px;
}

.body-link-vdo ul li {
  position: relative;
  display: block;
  padding-bottom: 10px;
  width: 100%;
}

.body-link-vdo ul li {
  float: left;
}

.body-link-vdo ul li {
  float: none;
}

.body-link-vdo ul li {
  margin-top: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.bg-circle {
  margin-top: 6px;
  margin-left: 10px;
}

.circle-none {
  background: #9e9e9e;
  height: 30px;
  width: 30px;
  border-radius: 70px;
}

.circle-left {
  background: green;
  height: 30px;
  width: 16px;
  border-bottom-left-radius: 52px;
  border-top-left-radius: 52px;
  margin-right: 14px;
}

.circle-full {
  background: green;
  height: 30px;
  width: 30px;
  border-radius: 70px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 60%;
    top: calc(100vh - 95%);
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-green {
  background: #28a745;
  color: #fff;
  font-size: 22px;
  padding: 1px 10px;
  border-radius: 30px;
}

.btn-red {
  background: red;
  color: #fff;
  font-size: 22px;
  padding: 1px 10px;
  border-radius: 30px;
}

a img {
  -webkit-appearance: none;
}

.user-review {
  width: 100%;
}

.rating {
  float: left;
}

.rating:not(:checked) > input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  /* width: 1em; */
  padding: 0 .1em;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  cursor: pointer;
  /* font-size: 150%; */
  /* line-height: 1.2; */
  color: #58575b;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #ffa500;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffa500;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ffa500;
}

.rating:not(:checked) > label:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f005';
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  font-size: 18px;
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.progress-bar {
  background-color: #ffa501;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.bg-green {
  background-color: #00a65a !important;
}

.small, small {
  font-size: 85%;
}

#Curriculum .right .a1, #Curriculum .right .a2, #Curriculum .right .a3, #Curriculum .right .a4 {
  margin-left: 5px;
}

@font-face {
  font-family: 'THSarabunNew';
  src: url("../fonts/THSarabunNew.woff");
}

@font-face {
  font-family: 'THSarabunNew-Bold';
  src: url("../fonts/THSarabunNew-Bold.woff");
}

body {
  font-family: 'THSarabunNew' !important;
  color: #58585B !important;
  font-size: 20px;
  background: rgba(41, 48, 59, 0.2);
}

body .Bold {
  font-family: 'THSarabunNew-Bold' !important;
}

body .blog-container {
  position: relative;
  width: 100%;
  padding-top: 120px;
  background: white;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

@media (max-width: 767px) {
  body .blog-container {
    padding-top: 90px;
  }
}

@media (min-width: 1366px) {
  body .blog-container {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: 0 0 8px rgba(41, 48, 59, 0.5);
            box-shadow: 0 0 8px rgba(41, 48, 59, 0.5);
  }
}

body a {
  color: #000;
}

body a:hover {
  color: #000;
  text-decoration: none;
}

body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body P {
  margin: 0;
}

body .ImgFluid {
  max-width: 100%;
  height: auto;
  width: 100%;
}

@media (max-width: 767px) {
  .min-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .min-sm {
    display: block;
  }
}

@media (max-width: 767px) {
  .max-xs {
    display: block;
  }
}

@media (min-width: 768px) {
  .max-xs {
    display: none;
  }
}

header {
  position: fixed;
  max-width: 1366px;
  z-index: 999;
  width: inherit;
  top: 0;
  -webkit-box-shadow: 0px 2px 5px rgba(41, 48, 59, 0.3);
          box-shadow: 0px 2px 5px rgba(41, 48, 59, 0.3);
}

header nav {
  background: #29303B;
}

@media (max-width: 767px) {
  header nav .navbar-toggler {
    border: 1px solid white;
    padding: 3px 13px;
    margin: 0;
  }
  header nav .navbar-toggler i {
    margin-top: 4px;
    color: #fff;
  }
}

header nav .nav-link {
  color: #fff;
  padding: 0px;
  font-size: 28px;
}

header .menu {
  background: #fff;
  padding: 5px 0px;
  font-size: 35px;
}

@media (max-width: 767px) {
  header .menu {
    font-size: 20px;
  }
}

header .menu .blog {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header .menu .blog .boxx1 {
  width: 50%;
}

@media (max-width: 767px) {
  header .menu .blog .boxx1 {
    width: 40%;
  }
}

header .menu .blog .boxx2 {
  width: 50%;
}

@media (max-width: 767px) {
  header .menu .blog .boxx2 {
    width: 60%;
  }
}

header .menu .logo {
  position: absolute;
  top: 58px;
  height: 100px;
  -webkit-box-shadow: 0px 0px 0px 0px, 0px 3px 3px -3px rgba(41, 48, 59, 0.8);
          box-shadow: 0px 0px 0px 0px, 0px 3px 3px -3px rgba(41, 48, 59, 0.8);
  border-radius: 100%;
  background: #fff;
}

@media (max-width: 767px) {
  header .menu .logo {
    height: 40px;
    right: 4px;
    top: 4px;
  }
}

header .menu .tv {
  display: flow-root;
  color: #29303b;
  padding-left: 145px;
}

@media (max-width: 767px) {
  header .menu .tv {
    padding-left: 0px;
  }
}

header .menu .tv img {
  height: 30px;
}

@media (max-width: 767px) {
  header .menu .tv img {
    height: 15px;
  }
}

header .menu .login {
  display: contents;
}

header .menu .login #loginface {
  float: right;
}

header .menu .login .dropdown {
  float: right;
  margin-left: 20px;
  padding-right: 28px;
}

@media (max-width: 767px) {
  header .menu .login .dropdown {
    margin-left: 0px;
    padding-right: 6px;
  }
}

header .menu .login .dropdown.img {
  margin-left: 0px;
  padding-right: 0px;
}

@media (max-width: 767px) {
  header .menu .login .dropdown.img {
    padding-top: 0px;
  }
}

header .menu .login .dropdown.img:after {
  opacity: 0;
}

header .menu .login .dropdown:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  height: 40px;
  width: 2px;
  background: #ACACAC;
}

@media (max-width: 767px) {
  header .menu .login .dropdown:after {
    height: 18px;
  }
}

header .menu .login .dropdown button {
  font-size: 35px;
  background: white;
  padding: 0;
}

@media (max-width: 767px) {
  header .menu .login .dropdown button {
    font-size: 20px;
  }
}

header .menu .login .dropdown button:after {
  display: none;
}

header .menu .login .dropdown button i {
  font-size: 22px;
}

@media (max-width: 767px) {
  header .menu .login .dropdown button i {
    font-size: 18px;
  }
}

header .menu .login .dropdown .dropdown-item {
  font-size: 28px;
}

@media (max-width: 767px) {
  header .menu .login .dropdown .dropdown-item {
    font-size: 18px;
  }
}

header .menu .login .btn-custom {
  float: right;
  font-size: 35px;
  padding: 5px 10px;
  margin-left: 20px;
  line-height: 1;
}

@media (max-width: 767px) {
  header .menu .login .btn-custom {
    font-size: 20px;
  }
}

header .menu .login .link {
  float: right;
  margin-left: 28px;
  font-size: 30px;
  position: relative;
}

header .menu .login .link .noti {
  position: absolute;
  top: 2px;
  right: -10px;
  background: #b5001f;
  color: white;
  font-size: 22px;
  padding: 1px 6.5px;
  line-height: 1;
  border-radius: 100%;
  width: 22px;
  height: 22px;
}

@media (max-width: 767px) {
  header .menu .login .link .noti {
    font-size: 16px;
    padding: 1px 5px;
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 767px) {
  header .menu .login .link {
    margin-left: 7px;
    font-size: 15px;
  }
}

header .menu .login .link i {
  padding-top: 15px;
  font-size: 22px;
}

@media (max-width: 767px) {
  header .menu .login .link i {
    padding-top: 7px;
    font-size: 18px;
  }
}

header .menu .login .link img {
  width: 52px;
  height: 52px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100%;
  border: 1px solid #abacab;
  margin-top: 1px;
}

@media (max-width: 767px) {
  header .menu .login .link img {
    width: 25px;
    height: 25px;
  }
}

footer {
  font-size: 20px;
  color: #fff;
}

footer .footer {
  background: #29303B;
  padding-top: 4%;
  padding-bottom: 4%;
}

footer .footer a {
  color: #fff;
}

footer .footer .detail0 .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  footer .footer .detail0 .social {
    padding-left: 20%;
  }
}

footer .footer .detail0 .social .cool {
  width: 25%;
  text-align: center;
}

@media (max-width: 767px) {
  footer .footer .detail0 .social .cool {
    width: 20%;
  }
}

footer .footer .detail0 .social .cool img {
  height: 60px;
  width: 60px;
}

@media (max-width: 767px) {
  footer .footer .detail0 .social .cool img {
    height: 45px;
    width: 45px;
  }
}

footer .footer .detail1 {
  text-align: center;
}

footer .footer .detail1 img {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 0 8px rgba(41, 48, 59, 0.5);
          box-shadow: 0 0 8px rgba(41, 48, 59, 0.5);
  border-radius: 100%;
}

footer .footer .detail2 .posit {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer .footer .detail2 .head {
  text-align: center;
  font-size: 34px;
}

footer .footer .detail2 .i {
  width: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 15px;
}

footer .coppy {
  background: #29303B;
  padding: 15px;
  text-align: center;
  border-top: 2px solid #fff;
}

.form-control {
  font-size: 22px;
  padding: 2px 10px;
  border: 1px solid #707070;
}

.form-control:focus {
  border: 1px solid #28BEE3;
  -webkit-box-shadow: 0 0 0 0rem #85dff5;
          box-shadow: 0 0 0 0rem #85dff5;
}

.form-control.error {
  border: 1px solid red;
}

.btn-success i, .btn-info i, .btn-danger i {
  font-size: 15px;
}

form label {
  margin: 0;
  margin-top: 10px;
  font-size: 22px;
}

form .error {
  color: red;
}

form .checkbox {
  position: relative;
}

form .checkbox .name {
  position: absolute;
  top: 4px;
  left: 20px;
  color: #29303B;
  height: 22px;
  overflow: hidden;
}

form .checkbox label {
  font-size: 18px;
}

form .checkbox label input[type="checkbox"] {
  display: none;
}

form .checkbox label input[type="checkbox"] + .cr > .cr-icon {
  -webkit-transform: scale(3) rotateZ(-20deg);
          transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

form .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
  -webkit-transform: scale(1) rotateZ(0deg);
          transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

form .checkbox label input[type="checkbox"]:disabled + .cr {
  opacity: .5;
}

form .checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 2px;
  width: 15px;
  height: 15px;
  float: left;
}

form .checkbox .cr .cr-icon {
  position: absolute;
  font-size: 10px;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.title {
  text-align: center;
  color: #038FE1;
  margin: 50px 0 30px 0;
}

.title h1 {
  font-size: 40px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 767px) {
  .title h1 {
    font-size: 30px;
  }
}

.title h1:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 2px;
  background: #038FE1;
  width: 100%;
}

@media (max-width: 767px) {
  .title h1:before {
    width: 145px;
  }
}

.title .text {
  margin-top: 5px;
  font-size: 30px;
  color: #ACACAC;
}

@media (max-width: 767px) {
  .title .text {
    font-size: 17px;
  }
}

.btn-custom {
  font-size: 28px;
  color: white;
  background-color: #038FE1;
  border-radius: .25rem;
  padding: 2px 10px;
}

.btn-custom:hover {
  color: white;
  background-color: #005c91;
}

.pagination li a {
  color: #ACACAC;
  border: 0px solid #000;
  border-radius: 100% !important;
  padding: 2px 12px;
  height: 30px;
  width: 30px;
  margin: 0;
  margin-right: 5px;
}

.pagination li a.active {
  background: #038FE1;
  color: #fff;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 60%;
  }
}

.Form_login {
  border: 1px solid rgba(0, 0, 0, 0);
}

.Form_login .modal-body {
  padding: 0;
}

.Form_login .modal-body .blog-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .Form_login .modal-body .blog-col {
    display: block;
  }
}

.Form_login .modal-body .blog-col .blog {
  width: 50%;
  background-size: cover;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (max-width: 992px) {
  .Form_login .modal-body .blog-col .blog {
    width: 100%;
  }
}

.Form_login .box-left {
  font-size: 26px;
  padding: 12%;
}

.Form_login .box-left h2 {
  color: #28BEE3;
  font-size: 30px;
}

.Form_login .box-left .remember {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Form_login .box-left .remember .ww {
  width: 50%;
}

.Form_login .box-left .remember .ww .custom-control-label {
  padding-left: 22px;
}

.Form_login .box-left .remember .ww .custom-control-label:before {
  top: 8px;
  left: 0;
  width: 18px;
  height: 18px;
}

.Form_login .box-left .remember .ww button {
  font-size: 26px;
  line-height: 1;
  background: #28BEE3;
  border-color: #28BEE3;
  padding: 5px 15px;
}

.Form_login .box-left .remember .ww.r {
  text-align: right;
}

.Form_login .box-left .login_face {
  text-align: center;
  margin-top: 15px;
}

.Form_login .box-left .login_face img {
  width: auto;
  height: 40px;
}

.Form_login .box-rigth {
  padding: 10%;
}

.Form_login .box-rigth .logos {
  text-align: center;
}

.Form_login .box-rigth .logos img {
  width: 100px;
}

.Form_login .box-rigth .text {
  padding: 5% 20%;
  font-size: 22px;
}

.Form_login .box-rigth .text h2 {
  font-size: 30px;
}

.Form_login .box-rigth .btn-custom {
  border: 2px solid #fff;
  background: #B5001F;
}

.Form_login .close {
  position: absolute;
  right: 8px;
  top: 4px;
  z-index: 9;
}

.background-image {
  background: #fff;
  margin: 60px 0;
  padding: 15px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px #9a9a9a;
          box-shadow: 0px 0px 5px #9a9a9a;
}

.btn.focus, .btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 108, 223, 0);
          box-shadow: 0 0 0 0.2rem rgba(0, 108, 223, 0);
}

.MenuCourses {
  -webkit-box-shadow: 2px 2px 8px #dadada;
          box-shadow: 2px 2px 8px #dadada;
  border-radius: 5px;
  padding: 8px;
}

.MenuCourses h2 {
  padding: 5px 0;
}

.MenuCourses .sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.MenuCourses .sidebar-menu a {
  font-size: 25px;
  padding: 2px 0px 2px 2px;
}

.MenuCourses .sidebar-menu a i {
  font-size: 15px;
  margin-right: 5px;
}

.MenuCourses .sidebar-menu a img {
  width: 15px;
  margin-top: -5px;
}

.MenuCourses .sidebar-menu .sidebar-submenu a {
  font-size: 20px;
}

.MenuCourses .sidebar-menu .sidebar-submenu a i {
  font-size: 15px;
  margin-right: 0;
}

.MenuCourses .sidebar-menu .sidebar-submenu a img {
  width: 13px;
  margin-top: -5px;
}

.social {
  margin: 15px 0;
}

.social a {
  color: #fff;
}

.social .boxx {
  padding: 5px 10px;
  display: inline-block;
}

.social .boxx.f {
  background: #3D5A96;
}

.social .boxx.t {
  background: #2AA3EF;
}

.social .boxx.g {
  background: #DA483F;
}

.mb-5 {
  margin-bottom: 50px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

#data-list_wrapper {
  width: 100%;
}

.CoursesItem {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.CoursesItem .Item {
  padding: 0 10px;
}

@media (max-width: 767px) {
  .CoursesItem .Item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .CoursesItem .Item {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .CoursesItem .Item {
    width: 33.33%;
  }
}

@media (min-width: 1200px) {
  .CoursesItem .Item {
    width: 33.33%;
  }
}

@media (min-width: 1366px) {
  .CoursesItem .Item {
    width: 33.33%;
  }
}

@media (min-width: 992px) {
  .CoursesItem .Item.colum4 {
    width: 25%;
  }
}

.CoursesItem .Item.colum4 .boxx .detail {
  padding: 10px 15px;
}

.CoursesItem .Item .boxx {
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 8px #d4d4d4;
          box-shadow: 0px 0px 8px #d4d4d4;
  border-radius: 8px;
}

.CoursesItem .Item .img {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.CoursesItem .Item .img img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 8px 8px 0px 0px;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .CoursesItem .Item .img img {
    height: 100px;
  }
}

.CoursesItem .Item .img:hover .hovv {
  display: block;
}

.CoursesItem .Item .img:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.CoursesItem .Item .img .hovv {
  display: none;
  position: absolute;
  background: rgba(41, 48, 59, 0.9);
  height: 100%;
  top: 0;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  z-index: 99;
}

.CoursesItem .Item .img .hovv .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.CoursesItem .Item .img .hovv .text span {
  color: #fff;
}

.CoursesItem .Item .ribbin {
  position: absolute;
  top: 15px;
  left: 0px;
  font-size: 22px;
  line-height: 1.1;
  z-index: 9;
}

.CoursesItem .Item .ribbin .box {
  color: #fff;
  padding: 0px 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 2px;
  display: table;
}

.CoursesItem .Item .ribbin .box.new {
  background: #28BEE3;
}

.CoursesItem .Item .ribbin .box.pro {
  background: #FF0000;
}

.CoursesItem .Item .detail {
  padding: 30px 60px;
}

@media (max-width: 767px) {
  .CoursesItem .Item .detail {
    padding: 10px 5px;
  }
}

.CoursesItem .Item .detail .name {
  color: #29303B;
  text-align: center;
  font-size: 26px;
  height: 55px;
  line-height: 1.1;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

@media (max-width: 767px) {
  .CoursesItem .Item .detail .name {
    font-size: 20px;
    height: 43px;
  }
}

.CoursesItem .Item .detail .teacher {
  text-align: center;
  font-size: 18px;
  padding: 8px 0;
  height: 40px;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

@media (max-width: 767px) {
  .CoursesItem .Item .detail .teacher {
    padding: 5px 0;
    line-height: 1;
  }
}

.CoursesItem .Item .detail .text {
  margin-top: 5px;
  height: 65px;
  line-height: 1.1;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -ms-line-clamp: 3;
  -o-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.CoursesItem .Item .detail .dateview {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}

.CoursesItem .Item .detail .dateview .deta {
  width: 80%;
}

.CoursesItem .Item .detail .dateview .view {
  width: 20%;
  text-align: right;
}

.CoursesItem .Item .price {
  text-align: center;
}

.CoursesItem .Item .price .promotion {
  background: #FF0000;
  color: #fff;
  text-align: center;
  padding: 3px 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.CoursesItem .Item .price .promotion:hover {
  -webkit-box-shadow: 0px 0px 5px #FF0000;
          box-shadow: 0px 0px 5px #FF0000;
}

.CoursesItem .Item .price .promotion .left {
  width: 50%;
  font-size: 20px;
  position: relative;
  line-height: 1;
  padding-top: 8px;
}

@media (max-width: 767px) {
  .CoursesItem .Item .price .promotion .left {
    width: 100%;
    font-size: 16px;
    line-height: 1;
    padding-top: 8px;
  }
}

.CoursesItem .Item .price .promotion .left:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 40px;
  background: white;
  right: 0;
  top: 5px;
}

@media (max-width: 767px) {
  .CoursesItem .Item .price .promotion .left:before {
    width: 100%;
    height: 1px;
    top: 40px;
    background: #ca0100;
  }
}

.CoursesItem .Item .price .promotion .left .ket {
  text-decoration: line-through;
}

.CoursesItem .Item .price .promotion .right {
  width: 50%;
  font-size: 33px;
}

@media (max-width: 767px) {
  .CoursesItem .Item .price .promotion .right {
    width: 100%;
    font-size: 25px;
    line-height: 1.2;
  }
}

.CoursesItem .Item .price .normal {
  background: #29303b;
  color: white;
  display: inline-block;
  font-size: 33px;
  padding: 3px 10%;
}

@media (max-width: 767px) {
  .CoursesItem .Item .price .normal {
    font-size: 25px;
    padding: 2px 5%;
  }
}

.CoursesItem .Item .price .normal:hover {
  -webkit-box-shadow: 0px 0px 5px #29303b;
          box-shadow: 0px 0px 5px #29303b;
}

.CoursesItem .Item .price .free {
  background: #25A946;
  color: white;
  display: inline-block;
  font-size: 33px;
  padding: 3px 10%;
}

@media (max-width: 767px) {
  .CoursesItem .Item .price .free {
    font-size: 25px;
    padding: 2px 5%;
  }
}

.CoursesItem .Item .price .free:hover {
  -webkit-box-shadow: 0px 0px 5px #25A946;
          box-shadow: 0px 0px 5px #25A946;
}

.CoursesItem-list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.CoursesItem-list .img {
  width: 30%;
}

.CoursesItem-list .img img {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.CoursesItem-list .detail-text {
  width: 50%;
  padding: 0 10px;
}

.CoursesItem-list .detail-text .name {
  font-size: 22px;
  height: 22px;
  width: 100%;
  line-height: 1.1;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.CoursesItem-list .detail-text .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.CoursesItem-list .detail-text .user .left {
  width: 45px;
}

.CoursesItem-list .detail-text .user .left img {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.CoursesItem-list .detail-text .user .right {
  font-size: 18px;
  width: 100%;
  margin-left: 5px;
  padding: 10px 5px;
}

.CoursesItem-list .price {
  width: 20%;
}

section.Home #slide_banner .item img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  section.Home #slide_banner .item img {
    height: 220px;
  }
}

section.Home #Great_Teacher .item {
  text-align: center;
}

section.Home #Great_Teacher .item .detail {
  color: #ACACAC;
}

section.Home #Great_Teacher .item .img {
  text-align: center;
  width: 100%;
}

section.Home #Great_Teacher .item .img img {
  max-width: 200px;
  display: unset;
  border: 5px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 10px #a9a9a9;
          box-shadow: 0px 0px 10px #a9a9a9;
}

section.Home .Getup_Teacher img {
  -webkit-box-shadow: 0px 0px 10px #a9a9a9;
          box-shadow: 0px 0px 10px #a9a9a9;
}

section.Home .Getup_Teacher .text {
  color: #ACACAC;
}

section.Home .Getup_Teacher .text .calendar {
  margin-top: 10px;
}

section.Home .Getup_Teacher .text .calendar span {
  font-size: 16px;
  margin-right: 10px;
}

section.Home .Getup_Teacher .details1 {
  margin-bottom: 6%;
}

section.Home .Getup_Teacher .details2 {
  margin-bottom: 15px;
}

section.Home .Getup_Teacher .details2:hover img {
  -webkit-box-shadow: 0px 0px 18px #adadad;
          box-shadow: 0px 0px 18px #adadad;
}

section.Home .Reviews {
  background: #28BEE3;
  color: #fff;
  padding-bottom: 5%;
}

section.Home .Reviews .title {
  color: #fff;
}

section.Home .Reviews .title h1:before {
  background: #fff;
}

section.Home .Reviews #Reviews .boxx {
  background: #fff;
  float: left;
  color: #000;
  padding: 5%;
  border-radius: 8px;
  width: 100%;
}

section.Home .Reviews #Reviews .boxx .detail .user .img {
  text-align: center;
}

section.Home .Reviews #Reviews .boxx .detail .user .img img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  display: unset;
  border-radius: 100%;
  border: 2px solid #F898E1;
  margin-bottom: 8px;
}

section.Home .Reviews #Reviews .boxx .detail .user .name {
  text-align: center;
}

section.Home .Reviews #Reviews .boxx .detail .user .name span {
  background: #fcd4f3;
  color: #f915c3;
  border-radius: 10px;
  padding: 0 10px;
}

section.Home .Reviews #Reviews .boxx .detail .text {
  height: 115px;
  overflow: hidden;
}

section.Home .Reviews .owl-dots button span {
  width: 80px;
  background: white;
}

section.Home .Reviews .owl-dots button.active span {
  background: #038FE1;
}

section.Home .GETUP_BLOG .boxx {
  -webkit-box-shadow: 0px 0px 10px #a9a9a9;
          box-shadow: 0px 0px 10px #a9a9a9;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

section.Home .GETUP_BLOG .boxx img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.Home .GETUP_BLOG .boxx img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

section.Home .GETUP_BLOG .boxx .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.7)), color-stop(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  color: #fff;
  padding: 10px;
  line-height: 1;
}

section.Home .GETUP_BLOG .boxx .text span {
  font-size: 28px;
}

@media (max-width: 767px) {
  section.Home .GETUP_BLOG .boxx .text span {
    font-size: 20px;
  }
}

section.Home .GETUP_BLOG .boxx .text p {
  font-size: 24px;
}

@media (max-width: 767px) {
  section.Home .GETUP_BLOG .boxx .text p {
    font-size: 25px;
  }
}

section.courses #slide_banner .item img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.courses .menu_left {
  -webkit-box-shadow: 1px 2px 4px rgba(41, 48, 59, 0.3);
          box-shadow: 1px 2px 4px rgba(41, 48, 59, 0.3);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

section.courses .menu_left.no_shadow {
  -webkit-box-shadow: 0px 0px 0px rgba(41, 48, 59, 0.3);
          box-shadow: 0px 0px 0px rgba(41, 48, 59, 0.3);
}

@media (max-width: 767px) {
  section.courses .menu_left {
    width: 100%;
  }
}

section.courses .menu_left form {
  position: relative;
  margin-top: 10px;
  font-size: 18px;
  color: #29303B;
}

section.courses .menu_left form .form-control {
  font-size: 18px;
}

section.courses .menu_left form i {
  position: absolute;
  right: 10px;
  top: 10px;
}

section.courses .menu_left form label.head {
  font-size: 20px;
}

section.courses .CoursesItem .Item .img img {
  height: 160px;
}

@media (max-width: 767px) {
  section.courses .CoursesItem .Item .img img {
    height: 100px;
  }
}

section.courses .CoursesItem .Item .detail {
  padding: 15px 25px;
}

section.courses .CoursesItem .Item .detail .name {
  font-size: 20px;
  height: 42px;
}

section.courses .CoursesItem .Item .price .promotion .left {
  font-size: 14px;
  padding-top: 5px;
}

section.courses .CoursesItem .Item .price .promotion .left:before {
  height: 26px;
  top: 5px;
}

@media (max-width: 767px) {
  section.courses .CoursesItem .Item .price .promotion .left:before {
    width: 100%;
    height: 1px;
    top: 34px;
    background: #ca0100;
  }
}

section.courses .CoursesItem .Item .price .promotion .right {
  font-size: 24px;
}

@media (max-width: 767px) {
  section.courses .CoursesItem .Item .price .promotion .right {
    font-size: 18px;
  }
}

section.courses .CoursesItem .Item .price .normal {
  font-size: 24px;
}

@media (max-width: 767px) {
  section.courses .CoursesItem .Item .price .normal {
    font-size: 18px;
  }
}

section.courses .CoursesItem .Item .price .free {
  font-size: 24px;
}

@media (max-width: 767px) {
  section.courses .CoursesItem .Item .price .free {
    font-size: 18px;
  }
}

section.courses_detail {
  margin-bottom: 50px;
}

section.courses_detail h1 {
  color: #29303B;
  font-size: 36px;
}

@media (max-width: 767px) {
  section.courses_detail h1 {
    font-size: 25px;
  }
}

section.courses_detail h2 {
  font-size: 28px;
}

@media (max-width: 767px) {
  section.courses_detail h2 {
    font-size: 25px;
  }
}

section.courses_detail .detail_left .video img.pro {
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .video img.pro {
    font-size: 30px;
  }
}

section.courses_detail .detail_left .video a {
  color: #fff;
}

section.courses_detail .detail_left .courses-detail .Bold {
  margin-top: 15px;
}

section.courses_detail .detail_left .courses-detail .overlate {
  overflow: hidden;
  max-height: 150px;
  font-size: 26px;
  -webkit-transition: height 0.8s;
  transition: height 0.8s;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-detail .overlate {
    font-size: 21px;
  }
}

section.courses_detail .detail_left .courses-detail #overlate {
  color: #038fe1;
  font-size: 28px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-detail #overlate {
    font-size: 22px;
  }
}

section.courses_detail .detail_left .courses-detail #overlate i {
  font-size: 17px;
}

section.courses_detail .detail_left .courses_lerning {
  display: -ms-grid;
  display: grid;
  margin-bottom: 25px;
}

section.courses_detail .detail_left .courses_lerning .boox .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #EBE9F2;
  font-size: 28px;
  padding: 5px 10px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses_lerning .boox .head {
    font-size: 22px;
  }
}

section.courses_detail .detail_left .courses_lerning .boox .listt {
  padding: 8px 0px;
  padding-left: 22px;
  border-bottom: 1px solid #EBE9F2;
  margin-bottom: 5px;
  float: left;
  width: 100%;
}

section.courses_detail .detail_left .courses_lerning .boox .listt .name {
  font-size: 24px;
  float: left;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses_lerning .boox .listt .name {
    font-size: 18px;
  }
}

section.courses_detail .detail_left .courses_lerning .boox .listt .name i {
  margin-right: 8px;
  font-size: 11px;
  background: #fecc07;
  color: white;
  padding: 8px 8px 8px 9px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

section.courses_detail .detail_left .courses_lerning .boox .listt .rigth {
  float: right;
  margin-top: 8px;
}

section.courses_detail .detail_left .courses_lerning .boox .listt .rigth span {
  margin-left: 8px;
}

section.courses_detail .detail_left .courses_lerning .boox .listt .rigth .e {
  padding: 0px 5px;
  background: #28BEE3;
  color: #fff;
  border-radius: 8px;
}

section.courses_detail .detail_left .courses_lerning .boox .listt .rigth .i {
  font-size: 20px;
  color: #038FE1;
}

section.courses_detail .detail_left .courses_lerning .boox .listt .rigth .m {
  font-size: 20px;
  min-width: 75px;
  display: inline-block;
  text-align: right;
}

section.courses_detail .detail_left .courses-teaher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.courses_detail .detail_left .courses-teaher .img {
  width: 110px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-teaher .img {
    width: 80px;
  }
}

section.courses_detail .detail_left .courses-teaher .img img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-teaher .img img {
    width: 55px;
    height: 55px;
  }
}

section.courses_detail .detail_left .courses-teaher .text {
  width: 100%;
}

section.courses_detail .detail_left .courses-teaher .text .name {
  font-size: 28px;
  color: #038FE1;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-teaher .text .name {
    font-size: 22px;
  }
}

section.courses_detail .detail_left .courses-teaher .text .pp .p {
  font-size: 26px;
  line-height: 1.2;
  max-height: 120px;
  overflow: hidden;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-teaher .text .pp .p {
    font-size: 20px;
  }
}

section.courses_detail .detail_left .courses-teaher .text .pp #overlate {
  color: #038FE1;
  font-size: 28px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-teaher .text .pp #overlate {
    font-size: 22px;
  }
}

section.courses_detail .detail_left .courses-teaher .text .pp #overlate i {
  font-size: 17px;
}

section.courses_detail .detail_left .courses-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-review {
    padding: 20px 0px;
  }
}

section.courses_detail .detail_left .courses-review .all-review {
  width: 25%;
  text-align: center;
  margin-right: 20px;
  padding: 10px 10px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-review .all-review {
    width: 30%;
    margin-right: 5px;
    padding: 10px 2px;
  }
}

section.courses_detail .detail_left .courses-review .all-review .rating-type {
  margin: 0;
  font-size: 100px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-review .all-review .rating-type {
    font-size: 30px;
  }
}

section.courses_detail .detail_left .courses-review .all-review .cours-star {
  margin: 0;
  padding: 0;
  list-style-position: outside;
}

section.courses_detail .detail_left .courses-review .all-review .cours-star li {
  display: inline-block;
  list-style: none;
}

section.courses_detail .detail_left .courses-review .all-review .cours-star li.active {
  color: #ffa500;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-review .all-review .cours-star li i {
    font-size: 10px;
  }
}

section.courses_detail .detail_left .courses-review .review-bar {
  width: 75%;
  font-size: 26px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-review .review-bar {
    width: 70%;
    font-size: 15px;
  }
}

section.courses_detail .detail_left .courses-review .review-bar .bar-bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  color: #000;
}

section.courses_detail .detail_left .courses-review .review-bar .bar-bx .side {
  width: 15%;
}

section.courses_detail .detail_left .courses-review .review-bar .bar-bx .progress {
  width: 75%;
  height: 15px;
  border-radius: 15px;
}

section.courses_detail .detail_left .courses-review .review-bar .bar-bx .progress .progress-bar {
  border-radius: 15px;
}

section.courses_detail .detail_left .courses-review .review-bar .bar-bx .percen {
  text-align: right;
  width: 10%;
}

section.courses_detail .detail_left .courses-teaher2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.courses_detail .detail_left .courses-teaher2 .img {
  width: 80px;
}

section.courses_detail .detail_left .courses-teaher2 .img img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

section.courses_detail .detail_left .courses-teaher2 .name {
  font-size: 28px;
  width: 200px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-teaher2 .name {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-teaher2 .name li i {
    font-size: 10px;
  }
}

section.courses_detail .detail_left .courses-teaher2 .text {
  width: 100%;
}

section.courses_detail .detail_left .courses-teaher2 .text .pp .p {
  font-size: 26px;
  line-height: 1.2;
  max-height: 128px;
  overflow: hidden;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-teaher2 .text .pp .p {
    font-size: 20px;
  }
}

section.courses_detail .detail_left .courses-teaher2 .text .pp #overlate {
  color: #038FE1;
  font-size: 28px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_left .courses-teaher2 .text .pp #overlate {
    font-size: 22px;
  }
}

section.courses_detail .detail_left .courses-teaher2 .text .pp #overlate i {
  font-size: 17px;
}

section.courses_detail .detail_rigth .CoursesDetail {
  color: #29303B;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 8px #d4d4d4;
          box-shadow: 0px 0px 8px #d4d4d4;
  border-collapse: collapse;
  border-radius: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 140px;
}

section.courses_detail .detail_rigth .CoursesDetail .img {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

section.courses_detail .detail_rigth .CoursesDetail .img img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 8px 8px 0px 0px;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.courses_detail .detail_rigth .CoursesDetail .price {
  text-align: center;
}

section.courses_detail .detail_rigth .CoursesDetail .price .num {
  line-height: 0.8;
  padding: 10px 0px;
}

section.courses_detail .detail_rigth .CoursesDetail .price .num .a {
  padding-top: 18px;
  font-size: 70px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_rigth .CoursesDetail .price .num .a {
    font-size: 30px;
  }
}

section.courses_detail .detail_rigth .CoursesDetail .price .num .b {
  font-size: 28px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_rigth .CoursesDetail .price .num .b {
    font-size: 25px;
  }
}

section.courses_detail .detail_rigth .CoursesDetail .price .bt .aa {
  margin-bottom: 10px;
}

section.courses_detail .detail_rigth .CoursesDetail .price .bt .aa .btn-custom {
  background: #25A946;
  font-size: 38px;
  -webkit-box-shadow: 0 0 2px rgba(41, 48, 59, 0.5);
          box-shadow: 0 0 2px rgba(41, 48, 59, 0.5);
}

@media (max-width: 767px) {
  section.courses_detail .detail_rigth .CoursesDetail .price .bt .aa .btn-custom {
    font-size: 30px;
  }
}

section.courses_detail .detail_rigth .CoursesDetail .price .bt .aa .btn-custom.btn-promo {
  background: red;
}

section.courses_detail .detail_rigth .CoursesDetail .price .bt .bb .btn-custom {
  border: 1px solid red;
  color: red;
  background: white;
  font-size: 38px;
  -webkit-box-shadow: 0 0 2px rgba(41, 48, 59, 0.5);
          box-shadow: 0 0 2px rgba(41, 48, 59, 0.5);
  width: auto;
  display: inline-block;
  line-height: 1.2;
}

section.courses_detail .detail_rigth .CoursesDetail .text {
  padding: 10px 15px;
  line-height: 1.2;
  margin-top: 15px;
}

section.courses_detail .detail_rigth .CoursesDetail .text .p {
  font-size: 26px;
  position: relative;
  padding-left: 25px;
  color: #58575b;
}

@media (max-width: 767px) {
  section.courses_detail .detail_rigth .CoursesDetail .text .p {
    font-size: 20px;
  }
}

section.courses_detail .detail_rigth .CoursesDetail .text .p i {
  font-size: 16px;
  position: absolute;
  left: 0px;
  top: 5px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_rigth .CoursesDetail .text .p i {
    font-size: 10px;
  }
}

section.courses_detail .detail_rigth .CoursesDetail .list-group {
  margin-top: 15px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_rigth .CoursesDetail .list-group a {
    font-size: 20px;
  }
}

section.courses_detail .detail_rigth .CoursesDetail .list-group a li {
  font-size: 26px;
  padding: 2px 15px;
  border: 0;
  border-radius: 0;
  color: #000;
}

@media (max-width: 767px) {
  section.courses_detail .detail_rigth .CoursesDetail .list-group a li {
    font-size: 20px;
  }
}

section.courses_detail .detail_rigth .CoursesDetail .list-group a li.active {
  color: #fff;
  background: #038fe1;
  margin-bottom: 8px;
}

section.courses_detail .detail_rigth .CoursesDetail .shrare {
  text-align: center;
  border-top: 1px solid #EBE9F2;
}

section.courses_detail .detail_rigth .CoursesDetail .shrare a {
  color: #ACACAC;
}

section.courses_detail .detail_rigth .CoursesDetail .shrare a span {
  font-size: 32px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_rigth .CoursesDetail .shrare a span {
    font-size: 25px;
  }
}

section.courses_detail .detail_rigth .CoursesDetail .shrare a span i {
  font-size: 20px;
}

@media (max-width: 767px) {
  section.courses_detail .detail_rigth .CoursesDetail .shrare a span i {
    font-size: 10px;
  }
}

section.courses_detail button.btn.focus, section.courses_detail button.btn:focus {
  color: #fff;
}

section.courses_learning {
  margin-bottom: 25px;
}

section.courses_learning h1 {
  font-size: 32px;
}

section.courses_learning .detail_left .video img.pro {
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.courses_learning .detail_left .video a {
  color: #fff;
}

section.courses_learning .detail_left .courses-detail .Bold {
  margin-top: 15px;
  font-size: 28px;
}

@media (max-width: 767px) {
  section.courses_learning .detail_left .courses-detail .Bold {
    font-size: 22px;
  }
}

section.courses_learning .detail_left .courses-detail .overlate {
  overflow: hidden;
  max-height: 150px;
  font-size: 20px;
  -webkit-transition: height 0.8s;
  transition: height 0.8s;
}

@media (max-width: 767px) {
  section.courses_learning .detail_left .courses-detail .overlate {
    font-size: 17px;
  }
}

section.courses_learning .detail_left .courses-detail #overlate {
  color: #038fe1;
  font-size: 28px;
}

@media (max-width: 767px) {
  section.courses_learning .detail_left .courses-detail #overlate {
    font-size: 22px;
  }
}

section.courses_learning .detail_left .courses-detail #overlate i {
  font-size: 17px;
}

@media (max-width: 767px) {
  section.courses_learning .detail_left .courses-detail #overlate i {
    font-size: 12px;
  }
}

section.courses_learning .detail_rigth .courses_lerning {
  display: -ms-grid;
  display: grid;
  margin-bottom: 25px;
}

section.courses_learning .detail_rigth .courses_lerning .names {
  position: relative;
  font-size: 19px;
  margin-bottom: 15px;
  margin-right: 5px;
}

@media (max-width: 767px) {
  section.courses_learning .detail_rigth .courses_lerning .names {
    font-size: 20px;
  }
}

section.courses_learning .detail_rigth .courses_lerning .names .btn {
  line-height: 1;
  font-size: 22px;
  color: #fff;
  background: #ACACAC;
}

@media (max-width: 767px) {
  section.courses_learning .detail_rigth .courses_lerning .names .btn {
    font-size: 18px;
  }
}

section.courses_learning .detail_rigth .courses_lerning .boox {
  max-height: 400px;
  overflow: auto;
}

section.courses_learning .detail_rigth .courses_lerning .boox .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #EBE9F2;
  font-size: 22px;
  padding: 5px 10px;
}

@media (max-width: 767px) {
  section.courses_learning .detail_rigth .courses_lerning .boox .head {
    font-size: 25px;
  }
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt {
  padding: 5px 10px;
  border-bottom: 1px solid #EBE9F2;
  margin-bottom: 5px;
  float: left;
  width: 100%;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name {
  font-size: 19px;
  float: left;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 767px) {
  section.courses_learning .detail_rigth .courses_lerning .boox .listt .name {
    font-size: 22px;
  }
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name i {
  font-size: 15px;
  background: #fecc07;
  color: white;
  padding: 8px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .embed-container iframe,
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .embed-container object,
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .course-lesson-title {
  padding-left: 55px;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name #percent {
  display: block;
  width: 160px;
  border: 1px solid #CCC;
  border-radius: 5px;
  margin: 50px auto 20px;
  padding: 10px;
  color: #1ABC9C;
  font-size: 35px;
  text-align: center;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name #donut {
  display: block;
  margin: 0px auto;
  color: #1ABC9C;
  font-size: 20px;
  text-align: center;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name code {
  background: #FAFAFA;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 0px 4px;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .donut-size {
  font-size: 40px;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper {
  position: absolute;
  width: 1em;
  height: 1em;
  margin: 0px auto;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper .pie {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper .half-circle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0.1em solid #ffc107;
  border-radius: 50%;
  clip: rect(0em, 0.5em, 1em, 0em);
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper .right-side {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper .label {
  position: absolute;
  bottom: -9px;
  left: 1px;
  display: block;
  background: none;
  border-radius: 50%;
  color: #7F8C8D;
  font-size: 18px;
  line-height: 2.6em;
  text-align: center;
  cursor: default;
  z-index: 2;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper .smaller {
  padding-bottom: 20px;
  color: #BDC3C7;
  font-size: 0.45em;
  vertical-align: super;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper .shadow-c {
  width: 100%;
  height: 100%;
  border: 0.1em solid #BDC3C7;
  border-radius: 50%;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .rigth {
  float: right;
  margin-top: 8px;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .rigth span {
  margin-left: 8px;
}

section.courses_learning .detail_rigth .courses_lerning .boox .listt .rigth .m {
  font-size: 20px;
}

@media (max-width: 767px) {
  section.courses_learning .detail_rigth .courses_lerning .boox .listt .rigth .m {
    font-size: 18px;
  }
}

section.article .CoursesItem .Item .boxx .detail {
  padding: 15px;
}

section.article .CoursesItem .Item .boxx .detail .name {
  height: 24px;
  line-height: 1.1;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

section.seccart {
  padding-bottom: 1px;
}

section.seccart .panel {
  border: 1px solid #EBE9F2;
  border-radius: 8px;
}

section.seccart .panel .blog-panel {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

section.seccart .panel .blog-panel .blog1 {
  width: 75%;
  background: #28BEE3;
  border-top-left-radius: 8px;
  border-right: 2px solid white;
}

section.seccart .panel .blog-panel .blog2 {
  width: 25%;
  background: #28BEE3;
  border-top-right-radius: 8px;
}

section.seccart .panel .blog-panel .blog3 {
  width: 100%;
  background: #28BEE3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

section.seccart .panel .blog-list {
  padding: 10px;
}

section.seccart .panel .blog-list .CoursesItem-list {
  position: relative;
  padding: 10px;
}

section.seccart .panel .blog-list .CoursesItem-list .close {
  position: absolute;
  right: 5px;
  top: 5px;
}

section.seccart .panel .blog-list .CoursesItem-list .price form span {
  font-size: 18px;
}

section.seccart .panel .blog-list .CoursesItem-list .price form label {
  margin-top: 0px;
}

section.seccart .panel .blog-list .CoursesItem-list .price form .form-control {
  padding: 0px 8px;
}

section.seccart .panel .blog-list .CoursesItem-list hr {
  width: 100%;
}

.Sec_instructors_courses .course-profile-instructors {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 15%;
}

.Sec_instructors_courses .course-profile-instructors .users {
  text-align: center;
  margin: 0 -20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}

.Sec_instructors_courses .course-profile-instructors .users .img {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.Sec_instructors_courses .course-profile-instructors .users .name {
  margin-top: 15px;
}

.Sec_instructors_courses .course-profile-instructors .users .social {
  margin-top: 15px;
}

.Sec_instructors_courses .course-profile-instructors .users .social i {
  padding: 10px;
  border-radius: 100%;
  border: 1px solid #c1c1c1;
  height: 45px;
  width: 45px;
}

.Sec_instructors_courses .course-profile-instructors .users .social i:hover {
  background: #FECC07;
  color: #fff;
}

.Sec_instructors_courses .course-profile-instructors .course-info-list {
  padding-top: 20px;
  margin: 0 -20px;
}

.Sec_instructors_courses .course-profile-instructors .course-info-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Sec_instructors_courses .course-profile-instructors .course-info-list ul li {
  display: block;
  width: 100%;
}

.Sec_instructors_courses .course-profile-instructors .course-info-list ul li a {
  padding: 8px 20px;
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.Sec_instructors_courses .course-profile-instructors .course-info-list ul li a:hover {
  background-color: #FECC07;
  color: black;
}

.Sec_instructors_courses .course-profile-instructors .course-info-list ul li a.active {
  background-color: #FECC07;
  color: black;
}

.Sec_instructors_courses .course-profile-instructors .course-info-list ul li a i {
  margin-right: 10px;
  font-size: 20px;
}

.Sec_instructors_courses .list-views-courses {
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.Sec_instructors_courses .list-views-courses .head {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -20px;
  margin-bottom: 15px;
}

.form-signin .file-drop-zone-title {
  padding: 45px 10px;
}

.form-signin .btn-file {
  padding: 0;
  background: #038FE1;
}

.form-signin .btn-file span {
  font-size: 26px;
}

.form-signin button {
  font-size: 26px;
  padding: 0;
  background: #B5001F;
}

.LiveChat {
  position: relative;
  width: 100%;
  height: 100%;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.LiveChat ::-webkit-scrollbar {
  width: 10px;
}

.LiveChat ::-webkit-scrollbar-track {
  background: #777777;
}

.LiveChat ::-webkit-scrollbar-thumb {
  background: #d69d00;
}

.LiveChat ::-webkit-scrollbar-thumb:hover {
  background: #b48400;
}

.LiveChat #OpenChat {
  width: 60px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  z-index: 999;
}

@media (max-width: 767px) {
  .LiveChat #OpenChat {
    width: 35px;
  }
}

.LiveChat .UserChat {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  max-width: 500px;
  background: #29303b;
  display: none;
  -webkit-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.LiveChat .UserChat .HederUser {
  width: 100%;
  background: #111a29;
  color: white;
  border-bottom: 2px solid #028fe1;
}

.LiveChat .UserChat .HederUser .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.LiveChat .UserChat .HederUser .profile img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 2px solid white;
}

.LiveChat .UserChat .HederUser .profile .text {
  font-size: 30px;
  padding-left: 10px;
}

.LiveChat .UserChat .HederUser .profile #CloseCaht {
  position: absolute;
  right: 10px;
  top: 18px;
  background: white;
  border-radius: 100%;
  font-size: 25px;
  padding: 0px;
  height: 35px;
  width: 35px;
}

.LiveChat .UserChat .ListUser {
  padding: 10px;
  color: white;
  height: 100%;
  overflow: auto;
  padding-bottom: 130px;
}

.LiveChat .UserChat .ListUser .box {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.LiveChat .UserChat .ListUser .box:hover {
  background: #1e2530;
}

.LiveChat .UserChat .ListUser .box:after {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  left: 41px;
  bottom: 10px;
  border-radius: 100%;
  border: 2px solid #29303b;
}

.LiveChat .UserChat .ListUser .box.online:after {
  background: #25ff00;
}

.LiveChat .UserChat .ListUser .box.offline:after {
  background: red;
}

.LiveChat .UserChat .ListUser .box img {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 1px solid white;
}

.LiveChat .UserChat .ListUser .box .content {
  padding-left: 55px;
  padding-top: 5px;
}

.LiveChat .UserChat .ListUser .box .content .name {
  font-size: 25px;
  font-weight: bold;
}

.LiveChat .UserChat .ListUser .box .content .noti {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 22px;
  background: #ff0100;
  padding: 1px 7px;
  height: 22px;
  width: 22px;
  line-height: 1;
  border-radius: 100%;
}

.LiveChat .UserChat .ListUser .box .content i {
  position: absolute;
  right: 10px;
  top: 22px;
  font-size: 18px;
}

.LiveChat .UserChat .ButtomUser {
  position: absolute;
  bottom: 0;
  background: #111a29;
  width: 100%;
  border-top: 2px solid #028fe1;
  padding: 5px 0;
  font-size: 30px;
  padding-left: 18px;
  color: white;
}

.LiveChat .MassageChat {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  max-width: 500px;
  background: white;
  display: none;
  -webkit-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.LiveChat .MassageChat .HederChat {
  width: 100%;
  background: white;
  color: #111a29;
  border-bottom: 2px solid #028fe1;
}

.LiveChat .MassageChat .HederChat .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px;
  font-size: 20px;
}

.LiveChat .MassageChat .HederChat .back i {
  cursor: pointer;
  padding-top: 8px;
}

.LiveChat .MassageChat .HederChat .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8px;
}

.LiveChat .MassageChat .HederChat .profile img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 2px solid white;
}

.LiveChat .MassageChat .HederChat .profile .text {
  font-size: 23px;
  padding-left: 5px;
}

.LiveChat .MassageChat .HederChat .profile #Close {
  position: absolute;
  right: 10px;
  top: 12px;
  background: white;
  border-radius: 100%;
  font-size: 25px;
  padding: 0px;
  height: 35px;
  width: 35px;
  border: 1px solid;
}

.LiveChat .MassageChat .ListChat {
  padding: 10px;
  color: #111a29;
  height: 100%;
  overflow: auto;
  padding-bottom: 130px;
}

.LiveChat .MassageChat .ListChat .box {
  position: relative;
  padding: 10px;
}

.LiveChat .MassageChat .ListChat .box img {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 1px solid #29303b;
}

.LiveChat .MassageChat .ListChat .box .content {
  padding-left: 47px;
}

.LiveChat .MassageChat .ListChat .box .content .text {
  font-size: 18px;
  background: #028fe1;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.LiveChat .MassageChat .ListChat .box .content .text:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d9";
  position: absolute;
  left: 49px;
  color: #028fe1;
  font-size: 25px;
  top: 8px;
}

.LiveChat .MassageChat .ListChat .box.Friend img {
  left: unset;
  right: 8px;
}

.LiveChat .MassageChat .ListChat .box.Friend .content {
  padding-left: unset;
  padding-right: 47px;
}

.LiveChat .MassageChat .ListChat .box.Friend .content .text {
  background: #29303b;
}

.LiveChat .MassageChat .ListChat .box.Friend .content .text:before {
  content: "\f0da";
  left: unset;
  right: 49px;
  color: #29303b;
}

.LiveChat .MassageChat .ButtomChat {
  position: absolute;
  bottom: 0;
  background: white;
  width: 100%;
  border-top: 2px solid #028fe1;
  padding: 10px 15px;
  font-size: 35px;
  color: #111a29;
}

.LiveChat .MassageChat .ButtomChat form input {
  border: 1px solid #3b75ff;
}

.LiveChat .MassageChat .ButtomChat form span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #3b75ff;
  color: white;
  border: 1px;
  cursor: pointer;
}

.select2-container--default .select2-selection--single {
  height: 40px !important;
  border: 1px solid #707070 !important;
  padding: 5px;
}
