.plyr__video-embed {
  height: 0;
  padding-bottom: to-percentage(56.25);
  position: relative;
}

.plyr__video-embed iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}

.plyr--full-ui .plyr__video-embed > .plyr__video-embed__container {
  padding-bottom: to-percentage(240);
  position: relative;
  -webkit-transform: translateY(-to-percentage(38.28125));
          transform: translateY(-to-percentage(38.28125));
}
